.banner {
  @apply relative h-screen-80 flex items-center justify-center max-h-50;
  &::before {
    @apply content-[''] absolute inset-0 z-20 bg-zinc-custome;
  }
  &__content {
    @apply relative z-20 p-2.5 max-w-40;
  }
  .nature_img {
    @apply block absolute inset-0 w-full h-full object-cover z-10;
  }
  .title {
    @apply leading-8 text-center uppercase text-white pb-4 tracking-wide;
    font-size: max(1.5rem, min(5vw, 2rem));
    line-height: max(1.5rem, min(5vw, 2rem));
  }
  .text {
    @apply text-white font-medium tracking-wide text-center;
    font-size: max(1.625rem, min(5vw, 2.25rem));
    line-height: max(2.25rem, min(5vw, 2.5rem));
  }
}



@media screen and (max-width: 0px) {

}