.payments-success-swal2-container {
  .swal2-popup {
    &.swal2-modal {
      @apply py-2.5 px-4;
      .swal2-icon.swal2-success {
        @apply text-emerald-500 border-emerald-500 ;
        .swal2-success-ring {
          @apply border-4 border-solid border-emerald-opacity;
        }
        .swal2-success-line-tip,
        .swal2-success-line-long {
          @apply bg-emerald-500 rounded;
        }
      }
      .swal2-title {
        @apply mx-0 px-0;
        font-size: max(1.125rem, min(4vw, 1.5rem)) !important;
        line-height: max(1.25rem, min(4vw, 1.75rem));
      }
      .swal2-actions {
        .swal2-confirm {
          @apply bg-emerald-500 shadow-none uppercase py-2 px-5 text-base m-0;
          &:hover {
            @apply bg-emerald-600;
          }
        }
      }
    }
  }
}

.payments-error-swal2-container {
  .swal2-popup {
    &.swal2-modal {
      @apply py-2.5 px-4;
      .swal2-icon.swal2-error {
        @apply text-error border-error;
        .swal2-x-mark {
          .swal2-x-mark-line-left,
          .swal2-x-mark-line-right {
            @apply bg-error;
          }
        }
      }
      .swal2-title {
        @apply mx-0 px-0;
        font-size: max(1.125rem, min(4vw, 1.5rem)) !important;
        line-height: max(1.25rem, min(4vw, 1.75rem));
      }
      .swal2-actions {
        .swal2-confirm {
          @apply bg-error shadow-none uppercase py-2 px-5 text-base m-0;
          &:hover {
            @apply bg-hover-error;
          }
        }
      }
    }
  }
}

.send-mail-swal2-container {
  @apply w-fit py-5 pl-5;
  .swal2-popup {
    &.swal2-toast,
    &.swal2-modal {
      @apply py-2.5 px-4;
      .swal2-icon {
        @apply text-emerald-500 border-emerald-500 #{!important};
        .swal2-success-ring {
          @apply border-4 border-solid border-emerald-opacity #{!important};
        }
        .swal2-success-line-tip,
        .swal2-success-line-long {
          @apply bg-emerald-500 rounded #{!important};
        }
      }
      .swal2-title {
        @apply mx-0;
      }
    }
    &.swal2-toast {
      .swal2-timer-progress-bar {
        @apply h-1 bg-emerald-500 #{!important};
      }
    }
    &.swal2-modal {
      .swal2-title {
        @apply leading-tight;
        font-size: max(1.125rem, min(4vw, 2rem)) !important;
      }
      .swal2-actions .swal2-confirm {
        @apply bg-emerald-500 shadow-none uppercase py-2 px-5 text-base #{!important};
        &:hover {
          @apply bg-emerald-600;
        }
      }
    }
  }
}

.swal2-container {
  .swal2-popup {
    &.swal2-toast,
    &.swal2-modal {
      @apply rounded;
      .swal2-icon {
        @apply text-purple-custom border-purple-custom;
        .swal2-success-ring {
          @apply border-4 border-solid border-blue-opacity;
        }
        .swal2-success-line-tip,
        .swal2-success-line-long {
          @apply bg-purple-custom rounded-sm;
        }
      }
      .swal2-title {
        @apply text-stone-700;
      }
      .swal2-confirm {
        @apply bg-purple-custom shadow-none text-lg uppercase py-2.5 px-5 text-white-custom;
        &:hover {
          @apply bg-hover-purple-custom;
        }
      }
      .swal2-timer-progress-bar {
        @apply h-1 bg-purple-custom;
      }
    }
    &.swal2-toast {
      .swal2-icon {
        .swal2-success-line-tip,
        .swal2-success-line-long {
          @apply h-1;
        }
      }
      .swal2-title {
        font-size: 17px;
      }
    }
    &.swal2-modal {
      .swal2-icon {
        .swal2-success-line-tip,
        .swal2-success-line-long {
          @apply h-1.5;
        }
      }
      .swal2-title {
        @apply text-32;
      }
    }
  }
}

.swal2-popup.swal2-toast.swal2-show {
  animation: swal2-custome-show cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s !important;
}

.swal2-popup.swal2-toast.swal2-hide {
  animation: swal2-custome-hide 0.4s !important;
}

@keyframes swal2-custome-show {
  0% {
    transform: translateX(40%);
  }
  50% {
    transform: translateX(-1.5rem);
  }
  85% {
    transform: translateX(0.75rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swal2-custome-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 471px) {
  .send-mail-swal2-container {
    @apply px-2;
    .swal2-popup.swal2-toast .swal2-title {
      @apply text-base;
    }
  }
}

@media screen and (max-width: 426px) {
  .send-mail-swal2-container {
    @apply w-full px-3;
    .swal2-popup {
      &.swal2-modal {
        @apply py-2.5 px-3;
        .swal2-title {
          @apply px-0;
        }
      }
    }
  }
}
