.our_values {
  @apply relative;
  &__content {
    @apply py-10 px-3 max-w-6xl mx-auto;
  }
  .title {
    @apply font-semibold text-stone-700 pb-8 text-center;
    font-size: max(1.625rem, min(5vw, 2.25rem));
    line-height: max(2rem, min(5vw, 2.5rem));
  }
  .row {
    @apply grid grid-cols-3 gap-4;
    .item {
      &__title {
        @apply text-stone-700 font-semibold pb-4;
        font-size: max(1rem, min(4vw, 1.25rem));
        line-height: max(1.5rem, min(3.5vw, 1.75rem));
      }
      &__text {
        @apply text-stone-500;
        font-size: max(0.875rem, min(3.5vw, 1.125rem));
        line-height: max(1.5rem, min(3.5vw, 1.75rem));
      }
    }
  }
}


@media screen and (max-width: 771px) {
  .our_values .row {
    @apply grid-cols-2
  }
}
@media screen and (max-width: 581px) {
  .our_values .row {
    @apply grid-cols-1 gap-5;
    .item__title {
      @apply pb-2;
    }
  }
}


@media screen and (max-width: 471px) {
  .our_values .title {
    @apply pb-4;
  }
}