.product {
  &__content {
    @apply grid grid-cols-2 gap-12 max-w-87.625 mx-auto;
  }
  .left {
    @apply grid grid-cols-4 gap-5;
    .gallery {
      @apply col-1/2;
      img {
        @apply block w-36 h-36 object-cover cursor-pointer mb-2.5;
      }
    }
    .main_hero {
      @apply col-2/-1;
      img {
        @apply w-full max-h-50 object-cover;
      }
    }
  }
  .right {
    .title {
      @apply text-xl font-semibold text-stone-700 pb-2.5;
      font-size: max(1rem, min(4vw, 1.25rem));
      line-height: max(1.5rem, min(4vw, 1.75rem));
    }
    .price {
      @apply flex items-center gap-3 pb-5;
      &__old {
        @apply text-neutral-400 font-bold;
        font-size: max(0.938rem, min(4vw, 1rem));
        line-height: max(1.25rem, min(4vw, 1.5rem));
      }
      &__new {
        @apply text-stone-700 font-bold;
        font-size: max(0.938rem, min(4vw, 1rem));
        line-height: max(1.25rem, min(4vw, 1.5rem));
      }
    }
    .description {
      @apply text-stone-700 tracking-wide pb-7;
      font-size: max(0.938rem, min(4vw, 1rem));
      line-height: max(1.25rem, min(4vw, 1.5rem));
    }
    .error_message {
      @apply block w-full text-sm bg-error py-2.5 px-3 mb-6 text-white font-medium text-center rounded tracking-wide;
      font-size: max(0.875rem, min(4vw, 1rem));
      line-height: max(1.25rem, min(4vw, 1.5rem));
    }
    .quantity {
      @apply flex items-center gap-2.5 mb-7;
      font-size: max(0.938rem, min(4vw, 1rem));
      line-height: max(1.25rem, min(4vw, 1.5rem));
      .minus,
      .plus {
        @apply p-3 rounded-sm bg-neutral-200 duration-150;
        &:hover {
          @apply bg-neutral-300;
        }
        svg {
          @apply text-stone-700 text-sm;
        }
      }
      .count {
        @apply block font-medium text-stone-700 w-4 text-center;
      }
    }
    .add_button {
      @apply text-sm flex items-center justify-center gap-5 bg-purple-custom font-semibold text-white py-2.5 px-8 rounded uppercase duration-150;
      &:hover {
        @apply bg-hover-purple-custom;
      }
    }
    .line {
      @apply block my-6;
    }
    .table {
      @apply border-collapse;
      .tbody {
        .tr {
          @apply border border-black;
          .td {
            @apply border border-black py-2 px-3 text-stone-700 text-15 text-center mx-auto;
            &:last-child {
              @apply border-r-0;
            }
            .circle {
              @apply relative left-1/2 -translate-x-1/2 block rounded-full w-5 h-5;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1021px) {
  .product {
    &__content {
      @apply gap-8;
    }
    .left {
      @apply grid-cols-4;
    }
  }
}

@media screen and (max-width: 881px) {
  .product {
    &__content {
      @apply grid-cols-1;
    }
    .left {
      @apply flex;
      .gallery {
        @apply grid grid-cols-1 gap-2.5 ;
        img {
          @apply h-full;
        }
      }
      .main_hero img {
        @apply max-h-96;
      }
    }
  }
}

@media screen and (max-width: 471px) {
  .product {
    &__content {
      @apply px-0;
    }
    .left {
      @apply gap-3;
      .gallery {
        img {
          @apply mb-0;
        }
      }
    }
    .right {
      .description {
        @apply pb-3.5;
      }
      .table .tbody .tr .td {
        @apply px-2;
        overflow-x: scroll;
      }
      .error_message {
        @apply px-2;
      }
    }
  }
}

@media screen and (max-width: 371px) {
  .product {
    .left {
      @apply flex-col;
      .gallery {
        @apply flex order-2;
        img {
          @apply w-full h-36;
        }
      }
    }
  }
}