.login {
  &__content {
    @apply relative p-4 w-full min-h-screen-80 flex items-center justify-center;
  }
  .form {
    @apply bg-white rounded-md py-12 px-10 w-full max-w-30 shadow-auth;
    .title {
      @apply relative text-purple-custom mx-auto text-32 font-bold leading-46 text-center mb-11;
      font-size: max(1.5rem, min(5vw, 2rem));
      line-height: max(2.25rem, min(5vw, 2.875rem));
      &::before {
        @apply content-[''] w-20 h-1 rounded bg-purple-custom block absolute -bottom-2 left-1/2 -translate-x-1/2;
      }
    }
    .label {
      @apply mb-10;
      &__content {
        @apply flex flex-col gap-5 mb-5;
      }
      &__label {
        @apply flex items-center gap-5 bg-white-custom py-18 px-4 rounded-md;
      }
      &__icon {
        @apply text-light-gray-custom min-w-6 min-h-6;
      }
      &__input {
        @apply w-full text-light-gray-custom outline-none bg-white-custom;
        font-size: max(1rem, min(3.5vw, 1.125rem));
        line-height: max(1.5rem, min(3.5vw, 1.75rem));
      }
    }
    .submit_buttons {
      @apply flex items-center justify-between gap-8;
      .submit {
        @apply w-full flex justify-center font-semibold text-white rounded py-2 px-10 duration-150 cursor-pointer bg-purple-custom;
        font-size: max(1rem, min(4vw, 1.125rem));
        line-height: max(1.5rem, min(4vw, 1.75rem));
        &:hover {
          @apply bg-hover-purple-custom #{!important};
        }
        &:disabled {
          @apply opacity-70 cursor-auto #{!important};
          &:hover {
            @apply bg-purple-custom #{!important};
          }
        }
      }
      .link {
        @apply w-full font-semibold text-center block rounded text-opacity-70 text-purple-custom py-2 px-10 bg-white-custom;
        font-size: max(1rem, min(4vw, 1.125rem));
        line-height: max(1.5rem, min(4vw, 1.75rem));
      }
    }
  }
  .submit_loading {
    @apply w-7 h-7;
  }
  .error_message {
    @apply w-full p-4 mb-10 text-15 bg-error text-white rounded text-center;
  }
  .create_message {
    @apply w-full p-4 mb-10 text-15 bg-emerald-500 text-white rounded text-center;
  }
  .user_message {
    @apply w-full p-4 mb-10 text-15 bg-blue-700 text-white rounded text-center;
  }
}


@media screen and (max-width: 471px) {
  .login {
    &__content {
      @apply py-10 px-3;
    }
    .form {
      @apply py-5 px-4;
      .title {
        @apply mb-7;
      }
      .label {
        @apply py-4 mb-2;
        &__label {
          @apply gap-3;
        }
        &__icon {
          @apply min-w-1.25 min-h-1.25;
        }
      }
      .submit_buttons {
        @apply gap-5;
        .submit,
        .link {
          @apply py-2 px-4;
        }
      }
    }
    .error_message,
    .create_message {
      @apply text-sm px-2;
    }
  }
}

@media screen and (max-width: 471px) {
  .login {
    .submit_buttons .submit,
    .submit_buttons .link {
      @apply py-2 px-4;
    }
  }
}